body {
    overflow-x: hidden;
    font-family: 'Noto Sans', 'Noto Sans CJK TC', sans-serif;
}

a {
    display: block;
}

ul{
    padding: 0;
    list-style-type: none;
}

.alwaysCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* header */

header .container-fluid {
    padding-right: 3%;
    padding-left: 3%;
}

.logo-style {
    color: #e3332b;
    font-weight: bold;
    font-size: 1.875rem;
}

.navbg {
    background-color: #232e61;
}

.btn-style {
    color: #fff;
    border-radius: 0;
}

.head-bar-btn {
    background-color: #e3332b;
    border-color: #e3332b;
}

.head-bar-btn:hover {
    color: #fff;
    background-color: #861d19;
    border-color: #861d19;
}

.main-bar-btn {
    background-color: #000;
    border-color: #000;
}

.main-bar-btn:hover {
    color: #fff;
    background-color: #797474;
    border-color: #797474;
}

.navbar-nav li a {
    color: #fff;
    font-weight: bold;
}

#navbarCollapse .nav-item {
    margin-right: 3.75rem;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem 0.75rem 0.75rem;
}

/* Banner */

#mainVision {
    background: linear-gradient(120.48deg, #232E61 0%, #050A2D 68.88%);

    min-height: 750px;
    max-height: 800px;

    padding-top: 5%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 0%;
}

#mVcontent {
    background-image: url(../img/ERP.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top 7vh right 2vw;
}


#mVText {
    /*position: absolute;
    left: 5%;
    top: 28%;
    z-index: 10;*/
    max-width: 68%;
    margin-left: 7%;
}

#mVText span {
    color: #fff;
    display: block;
}

.mVTitle {
    font-style: normal;
    font-weight: 700;

    font-size: 3rem;
    padding-top: 14%;
    letter-spacing: 2px;
}

.mVDes {
    font-size: 1.3vw;
    word-break: break-all;
    padding-top: 1%;
    letter-spacing: 1px;
}

.scrollBtnStyle{
    border: 1.5px solid #E3332B;
    text-align: center;
    border-radius: 100%;
    text-decoration: none;
    
    width: 230px;
    height: 230px;
    
    position: relative;
}

#scroll-down {
    margin-top: 3%;
    padding-top: 4%;
}

#scroll-down::after {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    height: 100vh;
    content: '';
    background-image: url(../img/arrow.png);
    width: 67px;
    height: 67px;

    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#scroll-down:hover {
    border: 1.5px solid #E3332B;
    background: #E3332B;
    padding-top: 5.5%;
}

#scroll-down:hover::after {
    top: 45%;
    content: 'What’s the special ?';
    color: #fff;
    background-image: none;
    width: 150px;
    height: 10px;
    font-size: 14px;
}

/* main */

.block-title {
    background-color: #001D7C;
    color: #fff;
    padding: 16px;
    display: table-caption;
    margin-bottom: 48px;

    position: absolute;
    z-index: 2;
    top: 9%;
    left: 13%;

}

.block-title span {
    font-size: 2vw;
    letter-spacing: 2px;
}

.prd-block {
    position: relative;
}

#prd_1 .prd-block {
    padding: 15% 10% 15% 13%;
}

#prd_2 .prd-block {
    padding: 15% 10% 8% 13%;
}

.prd-vis {
    mix-blend-mode: exclusion;
    max-width: 100%;
    /*width: 140px;
    height: 100%;*/

    position: absolute;
    top: 2%;
    left: 9%;
    z-index: 1;

}

.prd-vis img{
    width: 140px;
}

.prd-img {
    
}

.prd-img img {
    max-width: 100%;
}

.prd-text h1 {
    font-weight: bold;
}

.prd-text p {
    max-width: 85%;
}

#prd_end {
    padding-right: 5%;
    padding-bottom: 3%;
}

#scroll-top {

}

#scroll-top::after {
    height: 100vh;
    content: '';
    background-image: url(../img/arrow.png);
    width: 67px;
    height: 67px;

    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#scroll-top:hover {
    border: 1.5px solid #E3332B;
    background: #E3332B;

}

#scroll-top:hover::after {
    content: 'UP !';
    color: #fff;
    background-image: none;
    width: 100px;
    height: 10px;

    top: 45%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

/* footer */

footer {
    color: #fff;
}

#logoBlock .container,
#footerList .container{
    padding-top: 8%;
    padding-bottom: 8%;
}

#logoBlock .container{
    padding-left: 10%;
    padding-right: 10%;
}

#footerList .container{
    padding-left: 6%;
    padding-right: 6%;
}


#logoBlock {
    background: #E3332B;
}

#logoBlock .LOGO{
    font-size: 2.38rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.005em;

}
#logoBlock .address{
    padding-top: 10%;
    padding-bottom: 4%;
    font-size: 0.714rem;
}
#logoBlock .address::after{
    content: '';
    width: 28px;
    height: 18px;
    background-image: url(../img/footerArrow.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 20px;
}

#logoBlock p span{
    display: inline-block;
    padding-right: 15px;
}

#footerList {
    background: #050A2D;
}

.listTitle{
    display: block;
    font-size: 1rem;
    padding-bottom: 15px;
}

.flBlock{
    height: 230px;
}

.flBlock ul li{
    margin-bottom: 8px;
}