#scroll-down {
    margin-top: 3.2%;
}

#prd_1 .prd-block {
    padding: 22% 8.9% 15% 8.9%;
}

#prd_2 .prd-block {
    padding: 22% 8.9% 15% 8.9%;
}

.prd-img {
    text-align: center;
}

.block-title {
    top: 19.9%;
    left: 14%;
}

.prd-vis {
    top: 11%;
    left: 10%;
}
